body {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

.panel-default > .panel-heading-custom {
    background: #337ab7 !important; 
    color: #fff !important; 
    border-color: #337ab7 !important; 
}

input.ng-invalid.ng-dirty {
   border-color: #FA787E;
   border-width:medium;
}

.is-breakable {
  word-break: break-word;
}